<div class="container" >
    
    <!-- Trigger the modal with a button -->
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
   -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <div class="table-responsive">     
            <div class="table-responsive">          
      <table class="table table-bordered" id="t1">
        <thead>
          <tr>
            <th>ShippingAddress</th>
            <th>Buyer Name</th>
            
           <th>MobileNumber</th>
            <th>City</th>
            <th>Amount</th>
          </tr>
        </thead>
  
  
        <tr *ngFor="let l of list">
          <td>{{l.saddress}}</td>
          <td>{{l.bfname}}</td>
          
          <td>{{l.phnnum}}</td>
          <td>{{l.city}}</td>
          <td>{{l.inr+"."+l.paisa}}</td>
          </tr>
      </table>
  
  
  
      </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  <router-outlet></router-outlet>
  
  